.Box-root {
  box-sizing: border-box;
}

.Box-background--white {
  background: #fff;
}

.Box-background--offset {
  background: #f7fafc;
}

.Box-background--gray {
  background-color: #697386;
}

.Box-background--gray900 {
  background-color: #1a1f36;
}

.Box-background--gray800 {
  background-color: #2a2f45;
}

.Box-background--gray700 {
  background-color: #3c4257;
}

.Box-background--gray600 {
  background-color: #4f566b;
}

.Box-background--gray500 {
  background-color: #697386;
}

.Box-background--gray400 {
  background-color: #8792a2;
}

.Box-background--gray300 {
  background-color: #a3acb9;
}

.Box-background--gray200 {
  background-color: #c1c9d2;
}

.Box-background--gray100 {
  background-color: #e3e8ee;
}

.Box-background--gray50 {
  background-color: #f7fafc;
}
.Box-background--blue {
  background-color: #556cd6;
}

.Box-background--blue900 {
  background-color: #131f41;
}

.Box-background--blue800 {
  background-color: #212d63;
}

.Box-background--blue700 {
  background-color: #2f3d89;
}

.Box-background--blue600 {
  background-color: #3d4eac;
}

.Box-background--blue500 {
  background-color: #556cd6;
}

.Box-background--blue400 {
  background-color: #6c8eef;
}

.Box-background--blue300 {
  background-color: #7dabf8;
}

.Box-background--blue200 {
  background-color: #a4cdfe;
}

.Box-background--blue100 {
  background-color: #d6ecff;
}

.Box-background--blue50 {
  background-color: #f5fbff;
}

.Box-background--cyan {
  background-color: #067ab8;
}

.Box-background--cyan900 {
  background-color: #042235;
}

.Box-background--cyan800 {
  background-color: #093353;
}

.Box-background--cyan700 {
  background-color: #06457a;
}

.Box-background--cyan600 {
  background-color: #075996;
}

.Box-background--cyan500 {
  background-color: #067ab8;
}

.Box-background--cyan400 {
  background-color: #3a97d4;
}

.Box-background--cyan300 {
  background-color: #4db7e8;
}

.Box-background--cyan200 {
  background-color: #7fd3ed;
}

.Box-background--cyan100 {
  background-color: #c4f1f9;
}

.Box-background--cyan50 {
  background-color: #edfdfd;
}

.Box-background--green {
  background-color: #09825d;
}

.Box-background--green900 {
  background-color: #082429;
}

.Box-background--green800 {
  background-color: #0b3733;
}

.Box-background--green700 {
  background-color: #0d4b3b;
}

.Box-background--green600 {
  background-color: #0e6245;
}

.Box-background--green500 {
  background-color: #09825d;
}

.Box-background--green400 {
  background-color: #1ea672;
}

.Box-background--green300 {
  background-color: #33c27f;
}

.Box-background--green200 {
  background-color: #85d996;
}

.Box-background--green100 {
  background-color: #cbf4c9;
}

.Box-background--green50 {
  background-color: #efffed;
}

.Box-background--orange {
  background-color: #c44c34;
}

.Box-background--orange900 {
  background-color: #420e11;
}

.Box-background--orange800 {
  background-color: #5d161b;
}

.Box-background--orange700 {
  background-color: #7e1e23;
}

.Box-background--orange600 {
  background-color: #9e2f28;
}

.Box-background--orange500 {
  background-color: #c44c34;
}

.Box-background--orange400 {
  background-color: #e56f4a;
}

.Box-background--orange300 {
  background-color: #f5925e;
}

.Box-background--orange200 {
  background-color: #f8b886;
}

.Box-background--orange100 {
  background-color: #fee3c0;
}

.Box-background--orange50 {
  background-color: #fffaee;
}

.Box-background--purple {
  background-color: #a450b5;
}

.Box-background--purple900 {
  background-color: #2d0f55;
}

.Box-background--purple800 {
  background-color: #401d6a;
}

.Box-background--purple700 {
  background-color: #5b2b80;
}

.Box-background--purple600 {
  background-color: #7b3997;
}

.Box-background--purple500 {
  background-color: #a450b5;
}

.Box-background--purple400 {
  background-color: #c96ed0;
}

.Box-background--purple300 {
  background-color: #e28ddc;
}

.Box-background--purple200 {
  background-color: #f0b4e4;
}

.Box-background--purple100 {
  background-color: #fce0f6;
}

.Box-background--purple50 {
  background-color: #fff8fe;
}

.Box-background--red {
  background-color: #cd3d64;
}

.Box-background--red900 {
  background-color: #420828;
}

.Box-background--red800 {
  background-color: #5e1039;
}

.Box-background--red700 {
  background-color: #80143f;
}

.Box-background--red600 {
  background-color: #a41c4e;
}

.Box-background--red500 {
  background-color: #cd3d64;
}

.Box-background--red400 {
  background-color: #ed5f74;
}

.Box-background--red300 {
  background-color: #fa8389;
}

.Box-background--red200 {
  background-color: #fbb5b2;
}

.Box-background--red100 {
  background-color: #fde2dd;
}

.Box-background--red50 {
  background-color: #fff8f5;
}

.Box-background--yellow {
  background-color: #bb5504;
}

.Box-background--yellow900 {
  background-color: #3a1607;
}

.Box-background--yellow800 {
  background-color: #571f0d;
}

.Box-background--yellow700 {
  background-color: #762b0b;
}

.Box-background--yellow600 {
  background-color: #983705;
}

.Box-background--yellow500 {
  background-color: #bb5504;
}

.Box-background--yellow400 {
  background-color: #d97917;
}

.Box-background--yellow300 {
  background-color: #e5993e;
}

.Box-background--yellow200 {
  background-color: #efc078;
}

.Box-background--yellow100 {
  background-color: #f8e5b9;
}

.Box-background--yellow50 {
  background-color: #fcf9e9;
}

.Box-background--violet {
  background-color: #8260c3;
}

.Box-background--violet900 {
  background-color: #1f184e;
}

.Box-background--violet800 {
  background-color: #352465;
}

.Box-background--violet700 {
  background-color: #4b3480;
}

.Box-background--violet600 {
  background-color: #61469b;
}

.Box-background--violet500 {
  background-color: #8260c3;
}

.Box-background--violet400 {
  background-color: #9c82db;
}

.Box-background--violet300 {
  background-color: #b0a1e1;
}

.Box-background--violet200 {
  background-color: #c7c2ea;
}

.Box-background--violet100 {
  background-color: #e6e6fc;
}

.Box-background--violet50 {
  background-color: #f8f9fe;
}

.Box-divider--light-bottom-1 {
  box-shadow: inset 0 -1px #e3e8ee;
}
