button {
  border: 0;
  background: none;
  padding: 0;
  height: auto;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.Button {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  padding: 0.375rem 0.625rem;
  font-size: 0.889rem;
  font-weight: 500;
  border: 1px solid #eee;
  background: #eee;
  color: #055AF9;
  border-radius: .25rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 100ms;
  user-select: none;
}

.Button:hover,
.Button:focus {
  color: #055AF9;
  background: #efefef;
}

.Button-expand {
  width: 100%;
}

.Button-link {
  background: none;
  padding: 0;
  border: none;
  font-weight: 500;
}

.Button-purple {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(133, 0, 255);
  border: 0;
}

.Button-blue {
  background: #4f73f7;
  color: rgba(255, 255, 255, 0.9);
  border: 0;
}

.Button-error {
  background: none;
  border-color: #ff5b5b;
  color: #ff5b5b;
}

.Button.large {
  padding: .5625rem 2rem;
  font-size: 1.3125rem;
}

.Button.medium {
  font-size: 16px;
  padding: 8px 21px;
}

.Button.small {
  padding: .3125rem .9375rem;
  border-radius: .25rem;
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.6;
}

.Button.extra-small {
  font-size: 0.625em;
  padding: 0.3125em 0.75em;
  line-height: 1.2;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.Button[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.Button > * {
  vertical-align: middle;
}

.Button .anticon {
  display: flex;
}

.Button .anticon:first-child:not(:only-child) {
  margin-right: 0.9375em;
}

.Button .anticon:last-child:not(:only-child) {
  margin-left: 0.9375em;
}